{% extends 'celapp/base.html' %}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	{% load static %}
    <link rel="stylesheet" href="{% static 'celapp/style.css'%}" type="text/css">


{% block content %}



<!-- <div class="row">
        <div  class="column" style="margin:20px;">
                <iframe width="200" height="150" src="https://www.youtube.com/embed/rCyeZ_3qYgg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            
            </div>
    
    <div class="column" style="margin:20px;">
            <iframe width="200" height="150" src="https://www.youtube.com/embed/uyOZTiGO5Rc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="column" style="margin:20px;">
            <iframe width="200" height="150" src="https://www.youtube.com/embed/fFbJziIOpeM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="column" style="margin:20px;">
            <iframe width="200" height="150" src="https://www.youtube.com/embed/ZUw6m2wUbeA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="column" style="margin:20px;">
            <iframe width="200" height="150" src="https://www.youtube.com/embed/R_FVkOShC7k" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
  <div class="row">
        <div  class="column" style="margin:20px;">
                <iframe width="200" height="150" src="https://www.youtube.com/embed/vJOPjBe-gUM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
    
    <div class="column" style="margin:20px;">
            <iframe width="200" height="150" src="https://www.youtube.com/embed/Wddj8tTwchY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="column" style="margin:20px;">
            <iframe width="200" height="150" src="https://www.youtube.com/embed/n37g1zwlnJQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="column" style="margin:20px;">
            <iframe width="200" height="150" src="https://www.youtube.com/embed/o-6mnIUPBI4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="column" style="margin:20px;">
            <iframe width="200" height="150" src="https://www.youtube.com/embed/MwSoLGe0hZs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div> -->


<div class="main">
        <div class="row" style="margin:20px 20px 20px 20px;">
          <div class="column">
            <div class="content" style="margin:20px 20px 20px 20px;" >
                    <iframe width="200" height="150" src="https://www.youtube.com/embed/rCyeZ_3qYgg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              <h3>Lesson 1</h3>
              <p>My Sprite Speaks</p>
            </div>
          </div>
          <div class="column">
            <div class="content" style="margin:20px 20px 20px 20px;" >
                    <iframe width="200" height="150" src="https://www.youtube.com/embed/uyOZTiGO5Rc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              <h3>Lesson 2</h3>
              <p>Colorful Shapes</p>
            </div>
          </div>
          <div class="column">
            <div class="content" style="margin:20px 20px 20px 20px;" >
                    <iframe width="200" height="150" src="https://www.youtube.com/embed/fFbJziIOpeM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              <h3>Lesson 3</h3>
              <p>My Car</p>
            </div>
          </div>
          <div class="column">
            <div class="content" style="margin:20px 20px 20px 20px;" >
                    <iframe width="200" height="150" src="https://www.youtube.com/embed/ZUw6m2wUbeA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              <h3>Lesson 4</h3>
              <p>Colorful patterns</p>
            </div>
          </div>
          <div class="column">
                <div class="content" style="margin:20px 20px 20px 20px;" >
                        <iframe width="200" height="150" src="https://www.youtube.com/embed/R_FVkOShC7k" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  <h3>Lesson 5</h3>
                  <p>Scaring the ghost</p>
                </div>
              </div>
              <div class="column">
                    <div class="content" style="margin:20px 20px 20px 20px;" >
                            <iframe width="200" height="150" src="https://www.youtube.com/embed/vJOPjBe-gUM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                      <h3>Lesson 6</h3>
                      <p>Make a Story</p>
                    </div>
                  </div>
                  <div class="column">
                        <div class="content" style="margin:20px 20px 20px 20px;" >
                                <iframe width="200" height="150" src="https://www.youtube.com/embed/Wddj8tTwchY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                          <h3>Lesson 7</h3>
                          <p>What angle is it?</p>
                        </div>
                      </div>
                      <div class="column">
                            <div class="content" style="margin:20px 20px 20px 20px;" >
                                    <iframe width="200" height="150" src="https://www.youtube.com/embed/n37g1zwlnJQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                              <h3>Lesson 8</h3>
                              <p>Help with the tables</p>
                            </div>
                          </div>
                          <div class="column">
                                <div class="content" style="margin:20px 20px 20px 20px;" >
                                        <iframe width="200" height="150" src="https://www.youtube.com/embed/o-6mnIUPBI4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                  <h3>Lesson 9</h3>
                                  <p>E-library catalogue</p>
                                </div>
                              </div>
                              <div class="column">
                                    <div class="content" style="margin:20px 20px 20px 20px;" >
                                            <iframe width="200" height="150" src="https://www.youtube.com/embed/MwSoLGe0hZs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                      <h3>Lesson 10</h3>
                                      <p>Quiz</p>
                                    </div>
                                  </div>
        </div>
        
        
        
        <!-- END MAIN -->
        </div>
        {% endblock %}